.MapDisplay-map-container {
    border: 3px solid #000000;
}

.MapDisplay-row {
    display: flex;

}

.MapDisplay-cell.walkable {
    background-color: lightgray;
}

.MapDisplay-cell.obstacle {
    background-color: #2d1414;
}

.MapDisplay-cell.player {
    background-color: red;
}

/* Stile für Bildschirme bis zu 1920x1080px */
@media (max-width: 1600px) {
    .MapDisplay-cell {
        width: 50px;
        height: 50px;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
}



/* Stile für Bildschirme von 2560x1440px bis 3840x2160px */
@media (min-width: 1601px){
    .MapDisplay-cell {
        width: 70px;
        height: 70px;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
}


