.MapDisplay-map-container {
    width: 430px;
    border: 3px solid #000000;

}

.MapDisplay-row {
    display: flex;
    width: 450px;
}

.MapDisplay-cell {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
}

.MapDisplay-cell.walkable {
    background-color: lightgray;
}

.MapDisplay-cell.obstacle {
    background-color: #2d1414;
}

.MapDisplay-cell.player {
    background-color: red;
}